{% extends 'wbriksBackendBundle:Default:template.html.twig' %}
{% block title %}The countries in the RIKS platform{% endblock %}
{% block menu_left %}
  {{ parent() }}
{% endblock %}
{% block main_content %}
	<h2>Enter the data for the new country:</h2>
	<form action="{{ path('wbriks_country_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
	<input type="submit" />
</form>
{% endblock %}